/* ACCORDION */
.accordion {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
  }

  .accordion-header,
  .accordion-body {
    background: white;
  }

  .accordion-header {
    padding: 1.5em 1.5em;
    background: #007bb7;
    color: white;
    cursor: pointer;
    font-size: .7em;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
  }

  .accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .accordion-header:hover {
    background: #2D3D99;
    position: relative;
    z-index: 5;
  }

  .accordion-body {
    background: #fff;
    color: #353535;
    display: none;
  }

  .accordion-body__contents {
    font-size: .85em;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid gray;
  }

  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }

  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
  }

  .accordion__item > .accordion-header:after {
    content: "+";
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
  }

  .accordion__item.active > .accordion-header:after {
    transform: rotate(-45deg);
  }

  .accordion__item.active .accordion-header {
    background: #007bb7;
  }

  .accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: #353535;
  }

  /* accordion mobile */
  #acc-mobile {
    display: none;
  }

@media(max-width: 991px) {
    /* accordion mobile */
    .main .ketentuan {
        margin: 1vh 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #acc-mobile {
        display: inline-block;
        width: 97%;
    }
}
